<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © 2018 Hello, LLC. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Hello_BankTransfer::transaction" title="Transaction" sortOrder="20">
                    <resource id="Hello_BankTransfer::transaction_add" title="Form for Transaction ID" sortOrder="10" />
                    <resource id="Hello_BankTransfer::transaction_save" title="Saving Transaction ID" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
