<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Hello, LLC. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Hello\Bank\Model\ResourceModel\Bank\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hello_bank_requisites</argument>
            <argument name="resourceModel" xsi:type="string">Hello\Bank\Model\ResourceModel\Bank</argument>
        </arguments>
    </virtualType>
</config>
